<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<style>

html {
  font-family: sans-serif;
  text-align: center;
}

</style>

</head>
<body>

<h2>Your User Agent is:</h2>
<h1 class="user-agent">
  <%= userAgent %>
</h1>

</body>
</html>
